[Unit]
Description=Funding Rate Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/fanding/reserch
ExecStart=/home/trading_bot_env/bin/python /home/fanding/reserch/bot.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
